.profile-wid-bg .profile-wid-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: fill;
}

.kioska-fe {
    max-width: 100%;
    margin: 0 auto;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

@media print {
    header {
        position: fixed;
        top: 0;
    }

    footer {
        position: fixed;
        bottom: 0;
    }

    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

@page {
    margin: 0px;
}
